name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
        DATABASE_URL: "https://google.com"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm install

      - name: Type checking
        run: npm run build --if-present

      - name: Linting
        run: npm run lint --if-present
